li{
    color:green;
    font-size: 30px;
    padding: 5px;
}

h1{
    font-size: 50px;
    color: rgb(222, 211, 222);
    border: 1px solid rgb(73, 74, 82);
    border-radius: 10px;
    border-width: 5px;
}

body{
    background-image: url('images/lua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#divHeader{
    width: 100%;
    text-align: center;
}