*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}

.paragraph{
    font-size: 30px;
}

.header{
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    flex: 1 0 400px;
    padding: 20px;
}

.item{
    width: 300px;
}